@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap"rel="stylesheet');

// Background
$background-1: rgb(241, 241, 241);
$background-2: rgb(255, 255, 255);
$background-3: rgb(0, 0, 0);

// Colors
$darkFont: rgb(24, 24, 24);
$whiteColor: rgb(250, 250, 250);
$styleColor: rgb(0, 255, 200);

$hoverDarkFont: rgb(75, 75, 75);

// Fonts
$titleFont: "Montserrat", sans-serif;

@mixin buttonStyle {
  width: 150px;
  height: 35px;
  background-color: $redColor;
  border: none;
  border-radius: 8px;
  color: $whiteColor;
  font-size: 20px;
}
